--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
sqlalchemy
psycopg[binary]
pydantic
python-dotenv
python-multipart
email-validator

passlib
bcrypt==4.3.0
python-jose

chromadb
torch==2.12.1+cpu
sentence-transformers
pypdf
langchain-text-splitters
groq
google-genai

streamlit
extra-streamlit-components